.testimonials {
  width: 100%;
    padding: 5rem;
}

.testimonialtitle {
  font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: rgba(73, 73, 73, 0.9);
}

.testimonialdetails {
  font-size: 2rem;
    font-family: Galada, cursive;
    color: var(--main-color);
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    padding: 0px 5rem;
}

.testimonialimagebox {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}



.testimonialimageouter {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.textimonialimage {
  width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.testreadbtn {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.testreadbtn p {
  font-size: 1.3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: var(--main-color);
    text-align: center;
    padding: 1rem 4rem;
    border-radius: 20rem;
}
@media (max-width: 1300px) {
  .testimonials {
      padding: 5rem 3rem;
  }
  .testimonialdetails {
    margin-top: 2rem;
    padding: 0 5rem;
    line-height: 4rem;
}
.testimonialimagebox {
  margin-top: 3rem;
  gap: 1.5rem;
}
}
@media (max-width: 1200px) {
  .testimonials {
      padding: 4rem 1rem;
  }
}
@media (max-width: 676px) {
  .testimonials {
      padding: 3rem 1rem;
  }
  .testimonialtitle {
    font-size: 1.3rem;
}
.testimonialdetails {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0 0rem;
  line-height: 2.5rem;
  font-weight: 500;
}
.testimonialimagebox {
  margin-top: 3rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
}