.adminusersection{
    width: 83%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 2rem;
    background-color: #F9FAFB;
}